@import url('reset.css');
@import url('960.css');
@import url('text.css');

html {
/* 	 background: #cacaca url(../i/bg.png) no-repeat top right;  */
	background: transparent url(../i/12_col.gif) repeat-y top center;}
	
body {
	color: #313131;
	font-family: Arial, Verdana, sans-serif;  
}


#container {
	position: relative;
	padding-top: 50px;
}

#header {
	margin-top: 0;
	position: relative;
}

	#header #logo {
		float: left;
	}
	
	
	#header #inner {
		background: transparent url(../i/hr-line.png) repeat-x center;
		min-height: 95px;
		overflow: hidden;
		float: right;
		width: 640px;
	
	}


	/*	--- NAVIGATION --- */
	
	#header #inner ul#nav {
		list-style-position: outside;
		display: block;
		float: left;
	}
	
	#header #inner ul#nav ul {
		display: block;
		position: absolute;
		top: 67px;
		}

		#header #inner ul#nav li {
			display: inline;
			margin: 0 10px;
		}
		
			#header #inner ul#nav li:first-child {
				margin-left: 0px;
			}
			
			#header #inner ul#nav li:last-child {
				margin-right: 0px;
			}

		
				#header #inner ul#nav li a {
					text-decoration: none;
					color: #525252;
					font-size: 17px;
					font-weight: bold;
					letter-spacing: -0.7px;
				}
				
				#header #inner ul#nav li.selected a {
					text-decoration: underline;
				}
				
				#header #inner ul#nav li.selected ul li a {
					color: #787878;
					text-decoration: none;
				}



	/*	--- SEARCH --- */

	#header #inner #search {
		float: right;
	}
			
		#header #inner #search p#search-input {
					display:block;
					height: 22px;
					width: 177;
					background: url("../i/search-bg.png") no-repeat scroll right top transparent;
		}
	
			#header #inner #search #search-entry {
				margin-left: 15px;
				width: 127px;
				background: none;
				border:none;
				color: #e7e7e7;
				font-size: 14px;
				font-weight: bold;
			}
			#header #inner #search #search-submit {
				margin-left: 5px;
				width: 30px;
				height: 22px;
				background: none;
				border: none;
				text-indent:-9999px;
			}

		}



	/*	--- SLIDER --- */

	#slideshow {
		clear: both;
		/* padding-top: 50px; */ /* this padding doesn't work, next one does */
	}
	
		#slideshow-container {
			padding-top: 50px;
			width: 820px;
			margin: 0 auto;
			vertical-align: top;
		}
		
				#slide h3 {
					font-size: 20px;
					line-height: 20px; /* aligned with image */
					color: #2197b1;
					margin-bottom: 9px; /* ps ruler measures 17px */
				}
			
				#slide h4 {
					font-size: 17px;
					color: #313131;
					margin-bottom: 7px; /* ps ruler measures 20px */
				}
			
				#slide p {
					font-size: 14px;
					line-height: 25px;
					margin-bottom: 10px;
				}
			
				#slide img {
					float: right;
					margin-left: 140px;
				}


        .slider {
        	margin-top: 10px;
            width: 820px;
            height: 17px;
/*
            margin-top: 140px;
            margin-left: 5px;
            padding: 1px;
*/
            position: relative;
            background: url(../i/hr-line.png) repeat-x center;
        }
        
        .handle {
            position: absolute;
            cursor: move;
            height: 17px;
            width: 17px;
            top: 0;
            background: url(../i/handle.png) no-repeat;
            z-index: 100;
        }

        .slider span {
/*
            color: #bbb;
            font-size: 80%;
*/
            cursor: pointer;
            position: absolute;
            z-index: 110;
            top: 3px;
        }







/* ONCE THE SLIDE IS FINISHED, CHECK 4 AUTOMATIC SLIDING AND USE THESE POSITIONING POINTS */

/*
        .slider-1 {
            left: 0px;
        }
        
        .slider-2 {
            left: 160px;
        }

        .slider-3 {
            left: 320px;
        }
        
        .slider-4 {
            left: 480px;
        }

        .slider-5 {
            left: 640px;
        }

        .slider-6 {
            left: 800px;
        }
*/




	/*	--- MAIN --- */
	
	#main {
		overflow: hidden;
		padding-top: 50px;
	}
	
	#main h4 {
		font-size: 17px;
		color: #3d3d3d;
		float: left;
		padding: 15px 0 0 23px;
	}

	#main span a {
		font-size: 14px;
		font-weight: bold;
		line-height: 25px;
		color: #707070;
		text-decoration: none;
		float: right;
		padding-right: 43px;
		padding-top: 15px;
	}

	#main p {
		clear: both;
		font-size: 14px;
		line-height: 25px;
		color: #434141;
	}

	#main span, #main blockquote {
		color: #2197b1;
		font-weight: bold;
	}

		#main span.signature {
			font-size: 17px;
			letter-spacing: -0.7px;
			float: right;
		}

	#main li {
		clear: both;
		list-style: none;
		margin-left: 0px;
	}

		#main li a {
			text-decoration: none;
			color: #2197b1;
			font-size: 14px;
			line-height: 25px;
		}

/*	#main #col_1, #col_2, #col_3 {
		background: url('../i/col-bg.png') no-repeat;
	}*/

	#main #col_1 {
		background: url('../i/col-bg.png') no-repeat -10px 0px;
	}

	#main #col_1 p, #col_2 p, #col_3 p,
	#main #col_2 ul {
		padding-top: -20px;
		padding-right: 30px;
		padding-left: 23px;
	}
	
	#main h2 {
		font-size: 27px;
		line-height: 20px;
		color: #2197b1;
	}
	
	#main #who , #main #vision {
		padding-top: 50px;
	}
	
	#main #who p, #main #vision p {
		color: #515151;
	}
	
	#main #who blockquote {
		border-left: 15px solid #2197b1;
		display: block;
		padding-left: 16px;
	}
	
	#main #vision {
		background: url('../i/vr-line.png') repeat-y 0 100%;
		padding-left: 50px;
	}
		




	/*	--- FOOTER (and FOOTER-WRAP, also) --- */

#footer-wrap {
	background: #333333 url('../i/footer-bg.png') repeat-x;
}


#footer {
	padding-top: 24px;
}


#footer h3 {
	text-transform: uppercase;
	font-size: 19px;
	line-height: 20px;
	color: #2197b1;
	background: url('../i/footer-hr-line.png') repeat-x 0 100%;
	padding-bottom: 16px;
	margin-right: 60px;
}

#footer p, strong {
	font-size: 14px;
	line-height: 25px;
	color: #ffffff;	
}



	/*	--- BOTTOM (and BOTTOM-WRAP, also) --- */
	
#bottom-wrap {
/*	background-color: red;*/
	border-top: 1px solid #ffffff;
}

#bottom {
	padding-top: 50px;
}


	#bottom ul {
		overflow: hidden;
		float: left;
		margin-left: 10px;
	}
	
	#bottom li {
		float: left;
		list-style: none;
		margin-left: 13px;
		padding-left: 13px;
		border-left: 1px solid #313131;
	}

		#bottom li:first-child {
			border-left: none;
			margin-left: 0px;
			padding-left: 0px;
		}
	
	
		#bottom li a {
			text-decoration: none;
			color: #525252;
			font-size: 16px;
			letter-spacing: -0.7px;
		}

			#bottom li.selected a {
				color: #207687;
			}

	#bottom p {
		float: right;
		margin-right: 10px;
		font-size: 16px;
		letter-spacing: -0.7px;
	}

	#bottom a {
		color: #207687;
		text-decoration: none;
	}