@import url('reset.css');
@import url('960.css');
@import url('text.css');

html {
/* 	 background: #cacaca url(../i/bg.png) no-repeat top right;  */
	background: transparent url(../i/12_col.gif) repeat-y top center;}
	
body {
	color: #313131;
	font-family: Arial, Verdana, sans-serif;  
}


#container {
	position: relative;
	padding-top: 50px;
}

#header {
	margin-top: 0;
	position: relative;
}

	#header #logo {
		float: left;
	}
	
	
	#header #inner {
		background: transparent url(../i/hr-line.png) repeat-x center;
		min-height: 95px;
		overflow: hidden;
		float: right;
		width: 640px;
	
	}


	/*	--- NAVIGATION --- */
	
	#header ul#nav {
		list-style-position: outside;
		display: block;
		float: left;
	}
	
	#header ul#nav ul {
		display: block;
		position: absolute;
		top: 67px;
		}

		#header ul#nav li {
			display: inline;
			margin: 0 10px;
		}
		
			#header ul#nav li:first-child {
				margin-left: 0px;
			}
			
			#header ul#nav li:last-child {
				margin-right: 0px;
			}

		
				#header ul#nav li a {
					text-decoration: none;
					color: #525252;
					font-size: 17px;
					font-weight: bold;
					letter-spacing: -0.7px;
				}
				
				#header ul#nav li.selected a {
					text-decoration: underline;
				}
				
				#header ul#nav li.selected ul li a {
					color: #787878;
					text-decoration: none;
				}




	/*	--- SEARCH FIELD AND BUTTON --- */

	
		#header ul#search {
			float: right;
		}
		
			#header ul#search li {
				list-style: none;
				float: left;
				margin-left: -4px;
			}

		#header ul#search input.input {
			background: #bfbfbf;
			color: #e7e7e7;
			font-size: 14px;
			font-weight: bold;
			-moz-border-radius-topleft : 5px;
			-moz-border-radius-bottomleft: 5px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-bottom-left-radius: 5px;
			border: 1px solid #ababab;
			width: 137px;
			height: 18px;
			line-height: 20px; 
			padding-left: 10px;
		}

		#header ul#search input.submit {
			background: transparent url(../i/search-button.png) no-repeat scroll top center;
			color: #dddddd;
			font-size: 20px;
			font-weight: bold;
			border:none;
			width: 30px;
			height: 22px;
			line-height: 22px;
			cursor: pointer;
		}

	/*	--- SLIDESHOW --- */

	#slideshow {
		clear: both;
		padding-top: 50px;
	}
	
		#slideshow-container {
			width: 820px;
			margin: 0 auto;
		}
		
				#slide h3 {
					font-size: 20px;
					color: #2197b1;
				}
			
				#slide h4 {
					font-size: 17px;
					color: #313131;
				}
			
				#slide p {
					font-size: 14px;
					line-height: 25px;
				}
			
				#slide img {
					border-width: 3px;
					border-style: solid;
					border-color: #31aeca;
					float:right;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
				}


        .slider {
            width: 820px;
            height: 17px;
/*
            margin-top: 140px;
            margin-left: 5px;
            padding: 1px;
*/
            position: relative;
            background: url(../i/hr-line.png) repeat-x center;
        }
        
        .handle {
            position: absolute;
            cursor: move;
            height: 17px;
            width: 17px;
            top: 0;
            background: url(../i/handle.png) no-repeat;
            z-index: 100;
        }

        .slider span {
/*
            color: #bbb;
            font-size: 80%;
*/
            cursor: pointer;
            position: absolute;
            z-index: 110;
            top: 3px;
        }
        
        .slider-1 {
            left: 0px;
        }
        
        .slider-2 {
            left: 160px;
        }

        .slider-3 {
            left: 320px;
        }
        
        .slider-4 {
            left: 480px;
        }

        .slider-5 {
            left: 640px;
        }

        .slider-6 {
            left: 800px;
        }




	/*	--- MAIN --- */
	
	#main {
		overflow: hidden;
		padding-top: 50px;
	}
	
	#main h4 {
		font-size: 17px;
		color: #3d3d3d;
		float: left;
		padding: 15px 0 0 23px;
	}

	#main span a {
		font-size: 14px;
		font-weight: bold;
		line-height: 25px;
		color: #707070;
		text-decoration: none;
		float: right;
		padding-right: 43px;
		padding-top: 15px;
	}

	#main p {
		clear: both;
		font-size: 14px;
		line-height: 25px;
		color: #434141;
	}

	#main span, #main blockquote {
		color: #2197b1;
		font-weight: bold;
	}

		#main span.signature {
			font-size: 17px;
			letter-spacing: -0.7px;
			float: right;
		}

	#main li {
		clear: both;
		list-style: none;
		margin-left: 0px;
	}

		#main li a {
			text-decoration: none;
			color: #2197b1;
			font-size: 14px;
			line-height: 25px;
		}

/*	#main #col_1, #col_2, #col_3 {
		background: url('../i/col-bg.png') no-repeat;
	}*/

	#main #col_1 {
		background: url('../i/col-bg.png') no-repeat -10px 0px;
	}

	#main #col_1 p, #col_2 p, #col_3 p,
	#main #col_2 ul {
		padding-top: -20px;
		padding-right: 30px;
		padding-left: 23px;
	}
	
	#main h2 {
		font-size: 27px;
		line-height: 20px;
		color: #2197b1;
	}
	
	#main #who , #main #vision {
		padding-top: 50px;
	}
	
	#main #who p, #main #vision p {
		color: #515151;
	}
	
	#main #who blockquote {
		border-left: 15px solid #2197b1;
		display: block;
		padding-left: 16px;
	}
	
	#main #vision {
		background: url('../i/vr-line.png') repeat-y 0 100%;
		padding-left: 50px;
	}
		




	/*	--- FOOTER (and FOOTER-WRAP, also) --- */

#footer-wrap {
	background: #333333 url('../i/footer-bg.png') repeat-x;
}


#footer {
	padding-top: 24px;
}


#footer h3 {
	text-transform: uppercase;
	font-size: 19px;
	line-height: 20px;
	color: #2197b1;
	background: url('../i/footer-hr-line.png') repeat-x 0 100%;
	padding-bottom: 16px;
	margin-right: 60px;
}

#footer p, strong {
	font-size: 14px;
	line-height: 25px;
	color: #ffffff;	
}



	/*	--- BOTTOM (and BOTTOM-WRAP, also) --- */
	
#bottom-wrap {
/*	background-color: red;*/
	border-top: 1px solid #ffffff;
}

#bottom {
	padding-top: 50px;
}


	#bottom ul {
		overflow: hidden;
		float: left;
		margin-left: 10px;
	}
	
	#bottom li {
		float: left;
		list-style: none;
		margin-left: 13px;
		padding-left: 13px;
		border-left: 1px solid #313131;
	}

		#bottom li:first-child {
			border-left: none;
			margin-left: 0px;
			padding-left: 0px;
		}
	
	
		#bottom li a {
			text-decoration: none;
			color: #525252;
			font-size: 16px;
			letter-spacing: -0.7px;
		}

			#bottom li.selected a {
				color: #207687;
			}

	#bottom p {
		float: right;
		margin-right: 10px;
		font-size: 16px;
		letter-spacing: -0.7px;
	}

	#bottom a {
		color: #207687;
		text-decoration: none;
	}